
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@model IEnumerable<BE.Services>

<div class="col-lg-6">
    <div class="home carousel" data-scroll-index="0">
        <div class="owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="item valign bg-img bg-center ibox-content icons-box" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class=" col-lg-8">
                                <div class="caption text-left mt-50">
                                    <h1> @item.Title</h1>
                                    <h2> @item.ICone</h2>
                                    <div class="content">@item.Content</div>
                                    <br>
                                    <br>
                                    <a href="/Admin/Service/Update/@item.id" class="btn btn-success btt">Update</a>
                                    <a href="#" onclick="confirmDelete('@item.id')" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>



<script>
    function confirmDelete(itemId) {
        // SweetAlert ile bir onay iletişi göster0
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure you want to delete this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Kullanıcı evet'e tıkladığında, silme işlemini gerçekleştir
                window.location.href = "/Admin/Service/Delete/" + itemId;
            }
        });
    }
</script>