@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




@model List<BE.Blog>
@foreach (var item in Model)
{

    <li>


        <a href="~/BlogDet/Index/@item.id">

            <h5>@item.Name</h5>
            @{
                TimeSpan timeSince = DateTime.Now - item.Date;
                string formattedTime = FormatTimeSpan(timeSince);
            }

            <small>@formattedTime</small>
        </a>



    </li>
}
<script>
        @functions {
    string FormatTimeSpan(TimeSpan timeSpan)
    {
        if (timeSpan.TotalSeconds < 60)
        {
            return "Şimdi";
        }
        else if (timeSpan.TotalMinutes < 60)
        {
                return $"{(int)timeSpan.TotalMinutes} minute ago";
        }
        else if (timeSpan.TotalHours < 24)
        {
                return $"{(int)timeSpan.TotalHours} hours ago";
        }
        else if (timeSpan.TotalDays < 7)
        {
            return $"{(int)timeSpan.TotalDays} day ago";
        }
        else
        {
            int weeks = (int)(timeSpan.TotalDays / 7);
            return $"{weeks} week ago";
        }
    }
    }
</script>