@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<head>
    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">
    <style>
        input[type="checkbox"].ios8-switch {
            position: absolute;
            margin: 8px 0 0 16px;
        }

            input[type="checkbox"].ios8-switch + label {
                position: relative;
                padding: 5px 0 0 50px;
                line-height: 2.0em;
            }

                input[type="checkbox"].ios8-switch + label:before {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 0;
                    width: 40px; /* x*5 */
                    height: 24px; /* x*3 */
                    border-radius: 16px; /* x*2 */
                    background: #fff;
                    border: 1px solid #d9d9d9;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }

                input[type="checkbox"].ios8-switch + label:after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0px;
                    top: 0px;
                    width: 24px; /* x*3 */
                    height: 24px; /* x*3 */
                    border-radius: 16px; /* x*2 */
                    background: #fff;
                    border: 1px solid #d9d9d9;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }

                input[type="checkbox"].ios8-switch + label:hover:after {
                    box-shadow: 0 0 5px rgba(0,0,0,0.3);
                }

            input[type="checkbox"].ios8-switch:checked + label:after {
                margin-left: 16px;
            }

            input[type="checkbox"].ios8-switch:checked + label:before {
                background: #55D069;
            }

        /* SMALL */

        input[type="checkbox"].ios8-switch-sm {
            margin: 5px 0 0 10px;
        }

            input[type="checkbox"].ios8-switch-sm + label {
                position: relative;
                padding: 0 0 0 32px;
                line-height: 1.3em;
            }

                input[type="checkbox"].ios8-switch-sm + label:before {
                    width: 25px; /* x*5 */
                    height: 15px; /* x*3 */
                    border-radius: 10px; /* x*2 */
                }

                input[type="checkbox"].ios8-switch-sm + label:after {
                    width: 15px; /* x*3 */
                    height: 15px; /* x*3 */
                    border-radius: 10px; /* x*2 */
                }

                input[type="checkbox"].ios8-switch-sm + label:hover:after {
                    box-shadow: 0 0 3px rgba(0,0,0,0.3);
                }

            input[type="checkbox"].ios8-switch-sm:checked + label:after {
                margin-left: 10px; /* x*2 */
            }

        /* LARGE */

        input[type="checkbox"].ios8-switch-lg {
            margin: 10px 0 0 20px;
        }

            input[type="checkbox"].ios8-switch-lg + label {
                position: relative;
                padding: 7px 0 0 60px;
                line-height: 2.3em;
            }

                input[type="checkbox"].ios8-switch-lg + label:before {
                    width: 50px; /* x*5 */
                    height: 30px; /* x*3 */
                    border-radius: 20px; /* x*2 */
                }

                input[type="checkbox"].ios8-switch-lg + label:after {
                    width: 30px; /* x*3 */
                    height: 30px; /* x*3 */
                    border-radius: 20px; /* x*2 */
                }

                input[type="checkbox"].ios8-switch-lg + label:hover:after {
                    box-shadow: 0 0 8px rgba(0,0,0,0.3);
                }

            input[type="checkbox"].ios8-switch-lg:checked + label:after {
                margin-left: 20px; /* x*2 */
            }

    </style>
</head>

<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-user"></i> <span class="nav-label">  Users </span> </h2>
    </div>
</div>







<div class="container">
    <div class="row">
        <button class="btn btn-success  m-3" id="btnid">
            Add New User
        </button>
    </div>
    <div class="row">
        <div class="col-lg-12" style="display:none;" id="boxcon">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>User Add</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post"  action="Update" enctype="multipart/form-data" autocomplete="off">
                        <label class="col-sm-2 col-form-label">Name<text class="text text-danger">*</text></label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PName" name="Name"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">SureName<text class="text text-danger">*</text></label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="Family"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="Email"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">ID Numeber</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="IDNumber"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 col-form-label">Phone Numeber</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="PhoneNumber"></div>
                        </div>
                        <div class="hr-line-dashed"></div>



                        <label class="col-sm-2 col-form-label" for='checkbox-3'>Status</label>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="checkbox" class="ios8-switch ios8-switch-lg" id="statusCheckbox">
                                <label for="statusCheckbox"></label>
                                <input type="hidden" name="Status" id="statusHidden" value="false">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">Address<text class="text text-danger">*</text></label>
                        <div class="form-group row">

                            <div class="col-sm-10">
                                <textarea class="form-control" name="Adress" style="height: 150px;" id="About"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">About<text class="text text-danger">*</text></label>
                        <div class="form-group row">

                            <div class="col-sm-10">
                                <textarea class="form-control" name="About" style="height: 150px;" id="About"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 col-form-label">Status In Company</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="StatusİnCompany"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 col-form-label">Facebook Link</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="Facebook"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 col-form-label">İnstagram Link</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="İnstagram"></div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <label class="col-sm-2 col-form-label">Telegram Link</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="Telegram"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">UserName</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="UserName"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="password" class="form-control" id="PTitle" name="Password"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 col-form-label">Password Confirm</label>
                        <div class="form-group row">
                            <div class="col-sm-10"><input type="password" class="form-control" id="PTitle" name="ConfirmPassword"></div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group row">
                            <img id="preview1" src="#" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                            <div class="custom-file">
                                <input id="logo1" type="file" class="custom-file-input" name="Picture">
                                <label for="logo1" class="custom-file-label">Choose file...<text class="text text-danger">*</text></label>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class=" col-form-label text-danger">@Html.ValidationSummary()</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row m-3">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        @await Component.InvokeAsync("GetUser")
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#logo').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
        $('#statusCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#statusHidden').val('true');
            } else {
                $('#statusHidden').val('false');
            }
        });
        document.getElementById('statusCheckbox').addEventListener('change', function () {
            document.getElementById('statusHidden').value = this.checked ? 'true' : 'false';
        });
        function setupFileInputChangeHandler(inputId, previewId) {
            $('#' + inputId).on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#' + previewId).attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        }

        setupFileInputChangeHandler('logo1', 'preview1');
        setupFileInputChangeHandler('logo2', 'preview2');
    });



    function confirmDelete(itemId) {
        // SweetAlert ile bir onay iletişi göster0
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure you want to delete this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Kullanıcı evet'e tıkladığında, silme işlemini gerçekleştir
                window.location.href = "/Admin/Aboute/Delete/" + itemId;
            }
        });
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>
<script src="~/jsadmin/package/javascript.js"></script>
<!-- Peity -->
<script src="~/AdminTema/js/plugins/peity/jquery.peity.min.js"></script>

<!-- Peity -->
<script src="~/AdminTema/js/demo/peity-demo.js"></script>
<script src="~/jsadmin/service/javascript.js"></script>