@model List<BE.Blog>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="ibox ">
    <div class="ibox-title">
        <span class="label label-info float-right">Yearly</span>
        <h5>Blogs</h5>
    </div>
    <div class="ibox-content">
        <h1 class="no-margins">@Model.Count()</h1>
        
        <small>Total Blogs</small>
    </div>
</div>