@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@model IEnumerable<BE.CustomerComment>



@foreach (var item in Model)
{
    <div class="item-box">
        <span class="quote">
            <img src="" alt="">
        </span>
        <p>
            @{
                var con = item.Content.ToString();
                // İçeriği 200 karaktere kısalt
                string connt = con.Length > 100 ? con.Substring(0, 100) : con;
                // Son kelimenin tam olarak kesildiğinden emin ol
                connt = connt.Substring(0, connt.LastIndexOf(" "));
            }
            @Html.Raw(connt)
        </p>
        <div class="info">
            <div class="author-img">
                <img src="~/image/Pack/@item.Picture" alt="">
            </div>
            <div class="cont">
                <h6>@item.NameSurName</h6>
                <span>@item.Brand</span>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
    </div>

}