
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link href="~/jsadmin/notificationcss/notifcss.css" rel="stylesheet" />
</head>
<nav id="sidebar" style="margin: 2% -3%;">
    <ul class="dots">
        <li>
            @await Component.InvokeAsync("GetNewUserForNotification")
        </li>
        <li>
            @await Component.InvokeAsync("GetContenctForNotification")
        </li>
        <li>
            @await Component.InvokeAsync("GetCommentForNotification")
        </li>
       
    </ul>
</nav>



