@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@












@model IEnumerable<BE.About>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6 about box-padding">
            <h6 class="sub-title">@item.Title1</h6>
            <h4>ما کیستیم؟</h4>
            <p>@item.Content</p>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li><span class="icon lnr lnr-thumbs-up"></span> منحصر به فرد</li>
                        <li><span class="icon lnr lnr-thumbs-up"></span> برندسازی</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><span class="icon lnr lnr-thumbs-up"></span> طراحی وب سایت</li>
                        <li><span class="icon lnr lnr-thumbs-up"></span> سئو و بازاریابی</li>
                    </ul>
                </div>
            </div>
            <a href="#0" class="butn butn-bg mt-30">
                <span>آشنایی بیشتر</span>
            </a>
        </div>

        <div class="col-lg-6 bg-img bg-center" data-background=" /image/Pack/@item.İmage1"></div>

    }

</div>
<section class="boxs bg-gray">
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="row">

                <div class="col-lg-6 bg-img bg-center" data-background="/image/Pack/@item.İmage2"></div>

                <div class="col-lg-6 skills box-padding">

                    <h6 class="sub-title">چرا ما را انتخاب کنید؟</h6>
                    <h4>چرا ما را انتخاب کنید؟</h4>
                    <p>@item.Content2</p>

                    <div class="skill-item mt-30">
                        <h6>طراحی وب</h6>
                        <div class="skill-progress">
                            <div class="progres" data-value="90%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <h6>برندسازی</h6>
                        <div class="skill-progress">
                            <div class="progres" data-value="75%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <h6>توسعه</h6>
                        <div class="skill-progress">
                            <div class="progres" data-value="80%"></div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</section>

