@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<head>
    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">
</head>


<div class="row">
    <button class="btn btn btn-info  m-3" id="btnid">
        Add New Portfolio
    </button>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12" style="display:none;" id="boxcon">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Portfolio Add</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" autocomplete="off">


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="Title" id="Title"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Brand<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="Brand" id="Brand"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Link<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="Link" id="Link"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div>
                            <div class="form-group row">
                                <label for="CategoryId">Category<text class="text text-danger">*</text></label>
                                <select id="CategoryId" name="categoryid" class="form-control">
                                    <option value="">Select a category</option>
                                    @if (ViewBag.Category != null)
                                    {
                                        @foreach (var category in ViewBag.Category)
                                        {
                                            <option value="@category.Value">@category.Text</option>
                                        }
                                    }
                                  
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <img id="preview1" src="#" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                            <div class="custom-file">
                                <input id="logo1" type="file" name="Picture" class="custom-file-input Pic">
                                <label for="logo1" class="custom-file-label">Choose file...<text class="text text-danger">*</text></label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class=" col-form-label text-danger">@Html.ValidationSummary()</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


          @await Component.InvokeAsync("GetRef") 

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>
<script src="~/jsadmin/refjs/script.js"></script>
<script src="~/jsadmin/service/javascript.js"></script>
