
@{
    Layout = null;
}







@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html lang="fa">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template Simba onepage">
    <meta name="description" content="Simba - Onepage Multi-Purpose HTML5 Template">
    <meta name="author" content="">



    <!-- Title  -->
    <title>Nega</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/image/negasmal.png">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/simba/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="~/simba/css/style.css">

    <!-- Theme Color -->
    <meta name="theme-color" content="#01BF81" />

</head>

<body>

    <!-- =====================================
    ==== Start Loading -->

    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <!-- End Loading ====
    ======================================= -->
    <!-- =====================================
    ==== Start to top -->
    <div class="butn-top">
        <span class="icon lnr lnr-arrow-up"></span>
    </div>
    <!-- End to top ====
    ======================================= -->
    <!-- =====================================
    ==== Start Navbar -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="~/simba/negalight.png">
                <img src="~/simba/negalight.png" alt="logo" />
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="~/Nega/Index" >خانه</a>
                    </li>
           
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar ====
    ======================================= -->
    <!-- =====================================
    ==== Start Header -->

    <!-- End Header ====
    ======================================= -->
    <!-- =====================================
    ==== Start Hero -->
    @RenderBody()

    <!-- =====================================
    ==== Start Footer -->
    <div>
        <img src="~/simba/www.cagdascivata.com.tr.svg" />
    </div>
    <footer style="margin-top: -3px;">
        <div class="container">
            <div class="row">

                <div class="col-md-4 info">
                    <span class="icon lnr lnr-phone"></span>
                    <div class="cont">
                        <h6>تلفن:</h6>
                        <p><span class="ltr_text">+905369223407</span></p>
                    </div>
                </div>
                <div class="col-md-4 info">
                    <span class="icon lnr lnr-envelope"></span>
                    <div class="cont">
                        <h6>ایمیل :</h6>
                        <p>amir_afshar1@outlook.com</p>
                    </div>
                </div>
                <div class="col-md-4 info">
                    <span class="icon lnr lnr-map"></span>
                    <div class="cont">
                        <h6>آدرس :</h6>
                        <p>استانبول ترکیه</p>
                    </div>
                </div>

                <div class="col-md-8 offset-md-2 text-center mt-50">
                    <!-- Logo -->
                    <a class="logo mb-10" href="#">
                        <img src="~/simba/negalight.png" style="height: 131px;" alt="logo" />
                    </a>

                    <div class="social">

                        <a href="https://t.me/Negainfo"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.instagram.com/nega.com.tr?igsh=MXYzenB3YWNseXAxOQ=="><i class="fab fa-instagram"></i></a>
                    </div>

                  
                </div>

            </div>
        </div>
    </footer>

    <!-- End Footer ====
    ======================================= -->
    <!-- jQuery -->
    <script src="~/simba/js/app.js"></script>
    <script src="~/simba/js/jquery-3.0.0.min.js"></script>
    <script src="~/simba/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/simba/js/popper.min.js"></script>
    <script src="~/simba/js/bootstrap.min.js"></script>
    <script src="~/simba/js/scrollIt.min.js"></script>
    <script src="~/simba/js/jquery.waypoints.min.js"></script>
    <script src="~/simba/js/owl.carousel.min.js"></script>
    <script src="~/simba/js/jquery.magnific-popup.min.js"></script>
    <script src="~/simba/js/jquery.stellar.min.js"></script>
    <script src="~/simba/js/isotope.pkgd.min.js"></script>
    <script src="~/simba/js/YouTubePopUp.jquery.js"></script>
    <script src="~/simba/js/jquery.counterup.min.js"></script>
    <script src="~/simba/js/validator.js"></script>
    <script src="~/simba/js/scripts.js"></script>
    <script src="~/simba/js/jquery.placeholder.min.js" type="text/javascript"></script>
    <script type="text/javascript">$('input, textarea').placeholder();</script>
    <![endif]-->

</body>
</html>