@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<BE.Notification>

@if (Model.Count() != 0)
{
    <a href="~/Admin/Notification/Index">
        <span class="glyphicon glyphicon-envelope"><mark class="big swing">@Model.Count()</mark></span>
    </a>
}