
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@





@model IEnumerable<BE.Package>
<header class="home carousel" data-scroll-index="0">

    <div class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
            <div class="item valign bg-img bg-center" data-overlay-dark="5" data-background="/image/Pack/@item.Picture">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-4 col-lg-8">
                            <div class="caption text-left mt-50">
                                <h1> @item.Title</h1>
                                <p> @(item.Content.Length > 100 ? item.Content.Substring(0, 100) + "..." : item.Content) </p>
                                <a href="/PachageDetale/Index/@item.id" class="butn butn-bg mt-30">
                                    <span>آشنایی بیشتر</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</header>