@{
    ViewData["Title"] = "Index";
    Layout = "~/areas/admin/views/shared/adminlayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name</p>
    <form asp-action="Logout" asp-controller="Login" method="post" class="form-inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i>Logout</button>
    </form>
}
else
{
    <a href="/Admin/Login">Login</a>
}