@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NegaLayout.cshtml";
}


<section class="hero section-padding" data-scroll-index="1">
    <div class="container">
        @await Component.InvokeAsync("GetService")
    </div>
</section>

<!-- End Hero ====
======================================= -->
<!-- =====================================
==== Start Video -->
<div>


        @await Component.InvokeAsync("GetVideo")
 
</div>

<!-- End Video ====
======================================= -->
<!-- =====================================
==== Start Boxs -->
<div>
        @await Component.InvokeAsync("GetAbouttt")

</div>


<!-- End Boxs ====
======================================= -->
<!-- =====================================
==== Start Numbers -->

@* <div class="numbers section-padding" data-overlay-color="10">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon lnr lnr-smile"></span>
                    <h4 class="count">368</h4>
                    <h6>مشتریان راضی</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon lnr lnr-layers"></span>
                    <h4 class="count">937</h4>
                    <h6>پروژه انجام شده</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-sm50">
                    <span class="icon lnr lnr-cloud-download"></span>
                    <h4 class="count">438</h4>
                    <h6>دریافت فایل</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center">
                    <span class="icon lnr lnr-code"></span>
                    <h4 class="count">5946</h4>
                    <h6>خط کد</h6>
                </div>
            </div>

        </div>
    </div>
</div>  *@

<!-- End Numbers ====
======================================= -->
<!-- =====================================
==== Start Teams -->

@*  <section class="team section-padding" data-scroll-index="2">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4>تیم <span>با مهارت</span></h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/1.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/2.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/3.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/4.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/3.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/2.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/3.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> *@

<!-- End Teams ====
======================================= -->
<!-- =====================================
==== Start Boxs -->



<!-- End Boxs ====
======================================= -->
<!-- =====================================
==== Start Works -->

<section class="works section-padding" data-scroll-index="3">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4>نمونه‌کارها</h4>
                <p></p>
            </div>

        </div>
    </div>

    <div class="container-fluid">

        <div class="row">

            <!-- filter links -->
            <div class="filtering text-center mb-30 col-sm-12">
                @await Component.InvokeAsync("GetPortfolioCategory")
            </div>

            <div class="clearfix"></div>

            <!-- gallery -->
            <div class="gallery full-width">

                @await Component.InvokeAsync("GetPortfolio")

            </div>

        </div>
    </div>
</section>

<!-- End Works ====
======================================= -->
<!-- =====================================
==== Start Price -->

<section class="price section-padding bg-gray" data-scroll-index="4">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4> <span>قیمت های</span></h4>
                <p>طراحی سایت</p>
            </div>

            <div class="text-center offset-lg-1 col-lg-10">

                @await Component.InvokeAsync("GetPack")

            </div>

        </div>
    </div>
</section>

<!-- End Price ====
======================================= -->
<!-- =====================================
==== Start Testimonials -->

<section class="testimonials section-padding bg-img bg-fixed bg-center" data-overlay-dark="7" data-background="/simba/img/bg3.jpg">
    <div class="container">
        <div class="row">

            <div class="section-head col-lg-4">
                <h4>آنچه <span>مشتریان</span> می‌گویند</h4>
                
            </div>

            <div class="owl-carousel owl-theme col-lg-8">
                 
                @await Component.InvokeAsync("GetCustomerComment")

            </div>

        </div>
    </div>
</section>

<!-- End Testimonials ====
======================================= -->
<!-- =====================================
==== Start Blog -->

<section class="blog section-padding bg-gray" data-scroll-index="5">
    @await Component.InvokeAsync("GetBlogs")
</section>

<!-- End Blog ====
======================================= -->
<!-- =====================================
==== Start Contact -->

<section class="contact section-padding" data-scroll-index="6">
    @await Component.InvokeAsync("AddContact")
</section>

<!-- End Contact ====
======================================= -->
