
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NegaLayout.cshtml";
}


<section class="hero section-padding" data-scroll-index="1">
    <div class="container">
        @await Component.InvokeAsync("GetService");
    </div>
</section>

<!-- End Hero ====
======================================= -->
<!-- =====================================
==== Start Video -->

<div class="video section-padding text-center bg-img" data-overlay-dark="8" data-background="/simba/img/bg4.jpg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="offset-lg-2 col-lg-8">
                <h4>طراحی خلاقانه و حرفه‌ای برای وب‌سایت شرکتی</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
                <a class="vid" href="https://vimeo.com/127203262">
                    <span class="vid-butn">
                        <i class="far fa-play-circle"></i>
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- End Video ====
======================================= -->
<!-- =====================================
==== Start Boxs -->

<section class="boxs">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 about box-padding">
                <h6 class="sub-title">درباره شرکت</h6>
                <h4>ما کیستیم؟</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li><span class="icon lnr lnr-thumbs-up"></span> منحصر به فرد</li>
                            <li><span class="icon lnr lnr-thumbs-up"></span> برندسازی</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><span class="icon lnr lnr-thumbs-up"></span> طراحی وب سایت</li>
                            <li><span class="icon lnr lnr-thumbs-up"></span> سئو و بازاریابی</li>
                        </ul>
                    </div>
                </div>
                <a href="#0" class="butn butn-bg mt-30">
                    <span>آشنایی بیشتر</span>
                </a>
            </div>

            <div class="col-lg-6 bg-img bg-center" data-background="/simba/img/bg1.jpg"></div>

        </div>
    </div>
</section>

<!-- End Boxs ====
======================================= -->
<!-- =====================================
==== Start Numbers -->

<div class="numbers section-padding" data-overlay-color="10">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon lnr lnr-smile"></span>
                    <h4 class="count">368</h4>
                    <h6>مشتریان راضی</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon lnr lnr-layers"></span>
                    <h4 class="count">937</h4>
                    <h6>پروژه انجام شده</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-sm50">
                    <span class="icon lnr lnr-cloud-download"></span>
                    <h4 class="count">438</h4>
                    <h6>دریافت فایل</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center">
                    <span class="icon lnr lnr-code"></span>
                    <h4 class="count">5946</h4>
                    <h6>خط کد</h6>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- End Numbers ====
======================================= -->
<!-- =====================================
==== Start Teams -->

<section class="team section-padding" data-scroll-index="2">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4>تیم <span>با مهارت</span></h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/1.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/2.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/3.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/4.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/3.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/2.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>

                <div class="item">
                    <div class="team-img">
                        <img src="~/simba/img/team/3.jpg" alt="">
                        <div class="social">
                            <a href="#0" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <h6>جان اسنو</h6>
                        <span>مدیر پروژه</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- End Teams ====
======================================= -->
<!-- =====================================
==== Start Boxs -->

<section class="boxs bg-gray">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 bg-img bg-center" data-background="/simba/img/bg2.jpg"></div>

            <div class="col-lg-6 skills box-padding">

                <h6 class="sub-title">درباره شرکت</h6>
                <h4>چرا ما را انتخاب کنید؟</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای</p>

                <div class="skill-item mt-30">
                    <h6>طراحی وب</h6>
                    <div class="skill-progress">
                        <div class="progres" data-value="90%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <h6>برندسازی</h6>
                    <div class="skill-progress">
                        <div class="progres" data-value="75%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <h6>توسعه</h6>
                    <div class="skill-progress">
                        <div class="progres" data-value="80%"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- End Boxs ====
======================================= -->
<!-- =====================================
==== Start Works -->

<section class="works section-padding" data-scroll-index="3">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4>نمونه‌کارهای <span>خلاقانه</span></h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!-- filter links -->
            <div class="filtering text-center mb-30 col-sm-12">
                <div class="filter">
                    <span data-filter="*" class="active">همه</span>
                    <span data-filter=".brand">برند</span>
                    <span data-filter=".web">طراحی</span>
                    <span data-filter=".graphic">گرافیک</span>
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- gallery -->
            <div class="gallery full-width">

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items graphic">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/1.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/1.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items web">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/2.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/2.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items brand">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/3.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/3.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items graphic">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/4.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/4.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-6 col-md-6 items web">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/5.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/5.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items brand">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/6.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/6.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items brand">
                    <div class="item-img">
                        <img src="~/simba/img/portfolio/7.jpg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>لوگو | برندسازی</p>
                                <h6>طراحی وب خلاقانه</h6>
                                <a href="img/portfolio/7.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- End Works ====
======================================= -->
<!-- =====================================
==== Start Price -->

<section class="price section-padding bg-gray" data-scroll-index="4">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4>جدول <span>قیمت ها</span></h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

            <div class="text-center offset-lg-1 col-lg-10">

                <div class="row">

                    <div class="col-md-4">
                        <div class="item mb-md50">
                            <div class="type">
                                <h4>پایه</h4>
                            </div>

                            <div class="value">
                                <h3><span>تومان</span>10,000</h3>
                                <span class="per">/ ماهانه</span>
                            </div>

                            <div class="order">
                                <a href="#0" class="butn butn-bg butn-radius">
                                    <span>اکنون بخرید</span>
                                </a>
                            </div>

                            <div class="features">
                                <ul>
                                    <li>10 GB فضای دیسک</li>
                                    <li>15 نام دامنه</li>
                                    <li>4 آدرس ایمیل</li>
                                    <li>امنیت پیشرفته</li>
                                    <li>پشتیبانی بی نهایت</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item active bg-img bg-center mb-md50" data-overlay-color="9" data-background="/simba/img/bg2.jpg">

                            <div class="type">
                                <h4>استاندارد</h4>
                            </div>

                            <div class="value">
                                <h3><span>تومان</span>30,000</h3>
                                <span class="per">/ ماهانه</span>
                            </div>

                            <div class="order">
                                <a href="#0" class="butn butn-light butn-radius">
                                    <span>اکنون بخرید</span>
                                </a>
                            </div>

                            <div class="features">
                                <ul>
                                    <li>100 GB فضای دیسک</li>
                                    <li>30 نام دامنه</li>
                                    <li>5 آدرس ایمیل</li>
                                    <li>امنیت پیشرفته</li>
                                    <li>پشتیبانی بی نهایت</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item">
                            <div class="type">
                                <h4>طلایی</h4>
                            </div>

                            <div class="value">
                                <h3><span>تومان</span>80,000</h3>
                                <span class="per">/ ماهانه</span>
                            </div>

                            <div class="order">
                                <a href="#0" class="butn butn-bg butn-radius">
                                    <span>اکنون بخرید</span>
                                </a>
                            </div>

                            <div class="features">
                                <ul>
                                    <li>500 GB فضای دیسک</li>
                                    <li>100 نام دامنه</li>
                                    <li>10 آدرس ایمیل</li>
                                    <li>امنیت پیشرفته</li>
                                    <li>پشتیبانی بی نهایت</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<!-- End Price ====
======================================= -->
<!-- =====================================
==== Start Testimonials -->

<section class="testimonials section-padding bg-img bg-fixed bg-center" data-overlay-dark="7" data-background="/simba/img/bg3.jpg">
    <div class="container">
        <div class="row">

            <div class="section-head col-lg-4">
                <h4>آنچه <span>مشتریان</span> می‌گویند</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

            <div class="owl-carousel owl-theme col-lg-8">
                <div class="item-box">
                    <span class="quote">
                        <img src="~/simba/img/quot.png" alt="">
                    </span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                    <div class="info">
                        <div class="author-img">
                            <img src="~/simba/img/clients/1.jpg" alt="">
                        </div>
                        <div class="cont">
                            <h6>جان اسنو</h6>
                            <span>مدیر مسئول دیوار بزرگ</span>
                            <div class="rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <span class="quote">
                        <img src="~/simba/img/quot.png" alt="">
                    </span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                    <div class="info">
                        <div class="author-img">
                            <img src="~/simba/img/clients/2.jpg" alt="">
                        </div>
                        <div class="cont">
                            <h6>جان اسنو</h6>
                            <span>مدیر مسئول دیوار بزرگ</span>
                            <div class="rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <span class="quote">
                        <img src="~/simba/img/quot.png" alt="">
                    </span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                    <div class="info">
                        <div class="author-img">
                            <img src="~/simba/img/clients/3.jpg" alt="">
                        </div>
                        <div class="cont">
                            <h6>جان اسنو</h6>
                            <span>مدیر مسئول دیوار بزرگ</span>
                            <div class="rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <span class="quote">
                        <img src="~/simba/img/quot.png" alt="">
                    </span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                    <div class="info">
                        <div class="author-img">
                            <img src="~/simba/img/clients/4.jpg" alt="">
                        </div>
                        <div class="cont">
                            <h6>جان اسنو</h6>
                            <span>مدیر مسئول دیوار بزرگ</span>
                            <div class="rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- End Testimonials ====
======================================= -->
<!-- =====================================
==== Start Blog -->

<section class="blog section-padding bg-gray" data-scroll-index="5">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4><span>آخرین</span> اخبار</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row">
                        <div class="post-img col-lg-6 bg-img bg-center" data-background="/simba/img/blog/1.jpg"></div>
                        <div class="cont col-lg-6">
                            <div class="info">
                                <a href="#0">توسط : مدیر</a>
                                <a href="#0">18 آبان 1397</a>
                                <a href="#0" class="tag">طراحی</a>
                            </div>
                            <h6><a href="#0">لورم ایپسوم متن ساختگی</a></h6>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                            <a href="#0" class="more">بیشتر بخوانید <i class="fas fa-chevron-left"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="post-img col-lg-6 bg-img bg-center" data-background="/simba/img/blog/2.jpg"></div>
                        <div class="cont col-lg-6">
                            <div class="info">
                                <a href="#0">توسط : مدیر</a>
                                <a href="#0">18 آبان 1397</a>
                                <a href="#0" class="tag">طراحی</a>
                            </div>
                            <h6><a href="#0">لورم ایپسوم متن ساختگی</a></h6>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                            <a href="#0" class="more">بیشتر بخوانید <i class="fas fa-chevron-left"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="post-img col-lg-6 bg-img bg-center" data-background="/simba/img/blog/3.jpg"></div>
                        <div class="cont col-lg-6">
                            <div class="info">
                                <a href="#0">توسط : مدیر</a>
                                <a href="#0">18 آبان 1397</a>
                                <a href="#0" class="tag">طراحی</a>
                            </div>
                            <h6><a href="#0">لورم ایپسوم متن ساختگی</a></h6>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                            <a href="#0" class="more">بیشتر بخوانید <i class="fas fa-chevron-left"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="post-img col-lg-6 bg-img bg-center" data-background="/simba/img/blog/2.jpg"></div>
                        <div class="cont col-lg-6">
                            <div class="info">
                                <a href="#0">توسط : مدیر</a>
                                <a href="#0">18 آبان 1397</a>
                                <a href="#0" class="tag">طراحی</a>
                            </div>
                            <h6><a href="#0">لورم ایپسوم متن ساختگی</a></h6>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                            <a href="#0" class="more">بیشتر بخوانید <i class="fas fa-chevron-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- End Blog ====
======================================= -->
<!-- =====================================
==== Start Contact -->

<section class="contact section-padding" data-scroll-index="6">
    <div class="container">
        <div class="row">

            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h4><span>تماس</span> با ما</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
            </div>

            <div class="col-sm-12">
                <form class="form" id="contact-form" method="post" action="php/contact.php">

                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">

                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <input id="form_name" type="text" name="name" placeholder="نام" required="required">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" placeholder="ایمیل" required="required" dir="ltr">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input id="form_subject" type="text" name="subject" placeholder="موضوع">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="message" placeholder="پیام" rows="4" required="required"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="butn butn-bg"><span>ارسال پیام</span></button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<!-- End Contact ====
======================================= -->
