@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<head>
    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">
</head>


<div class="row">
    <button class="btn btn btn-info  m-3" id="btnid">
        Add New Service
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="display:none;" id="boxcon">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Video Add</h5>
                    <div class="ibox-tools">
                      
                    </div>
                </div>
                <div class="ibox-content" >
                    <form method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PName" name="Title"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Content<text class="text text-danger">*</text></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Content" style="height: 150px;" id="PContent"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">VideoLink<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PName" name="VideoLink"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    
                        <div class="form-group row">
                            <label class=" col-form-label text-danger">@Html.ValidationSummary()</label>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        @await Component.InvokeAsync("GetVideo");

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>
<script src="~/jsadmin/service/javascript.js"></script>