@{
    ViewData["Title"] = "Update";
    Layout = "~/areas/admin/views/shared/adminlayout.cshtml";
}




<link href="~/AdminTema/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">


@model BE.Video
<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-youtube"></i> <span class="nav-label"> Update Video </span></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Update</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" value="@Model.Title" id="PName" name="Title"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Content<text class="text text-danger">*</text></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Content" style="height: 150px;" id="PContent"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">VideoLink<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PName" value="@Model.VideoLink" name="VideoLink"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class=" col-form-label text-danger">@Html.ValidationSummary()</label>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>

<script src="~/AdminTema/js/plugins/summernote/summernote-bs4.js"></script>

<script>
    $(document).ready(function () {

        $('.summernote').summernote();

    });

</script>
