@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    
    Layout = null;
}

@model BE.User


<div class="dropdown profile-element">

    <img alt="image" class="rounded-circle" style="width:30%; border-radius:50px;" src="~/image/Pack/@Model.Picture" />
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="block m-t-xs font-bold">@Model.Name @Model.Family</span>
        <span class="text-muted text-xs block">@Model.StatusİnCompany <b class="caret"></b></span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a class="dropdown-item" href="~/Admin/Profile/Index">Profile</a></li>

        <li class="dropdown-divider"></li>
        <li>
            <form asp-action="Logout" asp-controller="Login" method="post" class="form-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i>Logout</button>
            </form>
        </li>
    </ul>
</div>