@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="ibox ">
    <div class="ibox-title">
        <span class="label label-primary float-right">Today</span>
        <h5>visits</h5>
    </div>
    <div class="ibox-content">
        <h1 class="no-margins">@Model</h1>
       
        <small>New visits</small>
    </div>
</div>