@model Nega.com.Areas.Admin.Models.PackageModel
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/xs0kxyfwqm84rx29r0awvmsbi2pi16o0ng5kvd4wniwf7bl7/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>



@{
    ViewData["Title"] = "Index";
    Layout = "~/areas/admin/views/shared/adminlayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-cart-plus"></i> <span class="nav-label">  Package </span></h2>
    </div>
</div>


<div class="container">
    <div class="row m-3">
        <div class="form-group row">
            <div class="form-group col-sm-12">
                <input type="button" class="form-control btn btn-success btn-block" id="add-package-btn" value="Add New Package" name="Name"> 
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-10" style="display:none;" id="pacadd">
            <div class="ibox">

                <div class="ibox-title">
                    <h5>Add Package</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" autocomplete="off">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Package Name<text class="text text-danger">*</text></label><br />
                            <div class="col-sm-10"><input type="text" class="form-control" id="PName" name="Name"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="Title"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Price<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PPrice" name="Price"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Content<text class="text text-danger">*</text></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Content" style="height: 150px;" id="tiny"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <img id="preview" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                            <div class="custom-file">
                                <input id="logo" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture">
                                <label for="logo" class="custom-file-label">Choose file...<text class="text text-danger">*</text></label>
                            </div>
                        </div>
                   




                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <button class="btn btn-success dim"  id="partbtn2" type="button">
                                            <i class="fa fa-plus"></i> Add New Package
                                        </button>

                                    </h4>
                                </div>
                                <div id="collapse1" style="display:none;">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title2</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle2" name="Title2"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content2</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content2" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview2" src="~/image/pic/picico.png" value="@ViewBag.Pic2" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo2" accept=".jpg,.jpeg" type="file" class="custom-file-input" name="Picture2">
                                                <label for="logo2" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                        <div class="panel-group" style="display:none;" id="parttot3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim" " id="partbtn3" type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" style="display: none;">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title3</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle3" name="Title3"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content3</label>
                                            <div class="col-sm-10">
                                                <textarea id="tiny" class="form-control" name="Content3" style="height: 150px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview3" src="~/image/pic/picico.png" value="@ViewBag.Pic3" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo3" accept=".jpg,.jpeg" type="file" class="custom-file-input" name="Picture3">
                                                <label for="logo3" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        


                        <div class="panel-group" style="display: none;" id="parttot4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim"  id="partbtn4"  type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title4</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle4" name="Title4"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content4</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content4" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview4" src="~/image/pic/picico.png" value="@ViewBag.Pic4" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo4" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture4">
                                                <label for="logo4" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                  

                        <div class="panel-group" style="display: none;" id="parttot5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim"  id="partbtn5"  type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title5</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle5" name="Title5"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content5</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content5" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview5" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo5" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture5">
                                                <label for="logo5" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                     


                        <div class="panel-group" style="display: none;" id="parttot6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim"  id="partbtn6" type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title6</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle6" name="Title6"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content6</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content6" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview6" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo6" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture6">
                                                <label for="logo6" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="panel-group" style="display: none;" id="parttot7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim" id="partbtn7"  type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title7</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle7" name="Title7"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content7</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content7" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview7" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo7" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture7">
                                                <label for="logo7" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                  


                        <div class="panel-group">
                            <div class="panel panel-default" style="display: none;" id="parttot8">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim" id="partbtn8"  type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title8</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle8" name="Title8"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content8</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content8" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview8" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo8" type="file" accept=".jpg,.jpeg"  class="custom-file-input" name="Picture8">
                                                <label for="logo8" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                     


                        <div class="panel-group" style="display: none;" id="parttot9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim" id="partbtn9" type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title9</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle9" name="Title9"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content9</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content9" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview9" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo9" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture9">
                                                <label for="logo9" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                       

                        <div class="panel-group" style="display: none;" id="parttot10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success dim" id="partbtn10"  type="button">
                                        <i class="fa fa-plus"></i>Add New Package
                                    </button>
                                </div>
                                <div id="collapse10" class="panel-collapse collapse">
                                    <div class="m-3 p-3">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Title10</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle10" name="Title10"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Content10</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="Content10" style="height: 150px;" id="tiny"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <img id="preview10" src="~/image/pic/picico.png" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                                            <div class="custom-file">
                                                <input id="logo10" type="file" accept=".jpg,.jpeg" class="custom-file-input" name="Picture10">
                                                <label for="logo10" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="form-group row">
                            <label class=" col-form-label text-danger">@Html.ValidationSummary()</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-lg-12">
        @await Component.InvokeAsync("GetPackage")
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>
<script src="~/jsadmin/package/javascript.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#tiny'
    });
    // Prevent Bootstrap dialog from blocking focusin
    $(document).on('focusin', function (e) {
        if ($(e.target).closest(".tox-tinymce, .tox-tinymce-aux, .moxman-window, .tam-assetmanager-root").length) {
            e.stopImmediatePropagation();
        }
    });
</script>

