@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model List<BE.Blog>



@if (Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <div class="col-lg-6 mb-2 pr-lg-1">
            <h3 style="margin:0px 0px 5px 0px" > @item.Name</h3>
            <a href="~/Admin/Blog/Update/@item.id">
                <img src="~/image/Pack/@item.Picture" alt="" class="img-fluid rounded shadow-sm">
            </a>

        </div>

    }
}
