@{
    ViewData["Title"] = "Update";
    Layout = "~/areas/admin/views/shared/adminlayout.cshtml";
}


<head>
    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">
</head>


@model BE.Services
<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-cogs"></i> <span class="nav-label">  Update Service </span></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Update</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Service Title<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PName" value="@Model.Title" name="Title"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">İcone<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" name="ICone" value="@Model.ICone" placeholder="paste here the name of ıcone"></div>
                             <div>
                                <a href="https://linearicons.com/free" style="color:blue;">Choose Icone İn the https://linearicons.com/free copy then name of ıcone (example*lnr-home*) and paste here</a>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Content<text class="text text-danger">*</text></label>
                            <div class="col-sm-10">
                              
                                <textarea class="form-control" name="Content" style="height: 150px;" id="PContent">@Model.Content</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>


<script>
    $(document).ready(function () {

        $('.summernote').summernote();

    });

</script>
